{% extends 'base.html' %}

{% block head %}
<title>Информация</title>
{% endblock %}

{% block body %}
<section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 id="titlee">Про сайт Vvgu_Clubs</h1>
            <p class="lead text-body-secondary">
                Добро пожаловать на сайт Vvgu Clubs.
                Этот сайт создан для студентов, чтобы они учавствовали в разных кружках для своего блага.
            </p>
          </div>
        </div>
    </section>
{% endblock %}
