{% extends 'base.html' %}

{% block head %}
<!-- CSS стили -->
<style>
    #titlee {
      font-family: "Irish Grover", system-ui;
      font-weight: 400;
      font-style: normal;
    }




</style>
<!-- Подключение шрифта из Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
<!-- Заголовок страницы -->
<title>Главная страница</title>
{% endblock %}

{% block body %}
<!-- Основное содержимое страницы -->
<main>
    <!-- Секция с описанием -->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                {% if current_user.is_authenticated and not current_user.is_teacher %}
                <!-- Заголовок -->
                <h1 id="titlee">Vvgu_Clubs</h1>
                <h1>Выберите кружок на который вы хотите записаться</h1>
                {% elif current_user.is_teacher %}
                <h1>Кружки для учеников</h1>
                {% else %}
                <!-- Заголовок -->
                <h1 id="titlee">Vvgu_Clubs</h1>
                <!-- Описание -->
                <p class="lead text-body-secondary">
                    Добро пожаловать на главную страницу Vvgu Clubs!
                    Здесь вы найдёте информацию обо всех кружках и секциях нашего университета.
                    Присоединяйтесь к нам и откройте для себя новые возможности для развития и творчества!
                </p>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Карточки с контентом -->
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for club in clubs %}
                <div class="col">
                    <div class="card shadow-sm ">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            {% if club.type == 'vol' %}
                            <rect width="100%" height="100%" fill="#17a2b8"></rect>
                            {% elif club.type == 'sp' %}
                            <rect width="100%" height="100%" fill="#D9596D"></rect>
                            {% elif club.type == 'na' %}
                            <rect width="100%" height="100%" fill="#5D84DA"></rect>
                            {% elif club.type == 'tv' %}
                            <rect width="100%" height="100%" fill="#DD865A"></rect>
                            {% else %}
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            {% endif %}
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle"
                                  dominant-baseline="central"
                                  style="font-size: 22px; font-weight: bold; font-family: Arial;">
                                {{ club.title }}
                            </text>

                        </svg>
                        <div class="card-body">
                            <p class="card-text">{{ club.about }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                {% if current_user.is_authenticated and not current_user.is_teacher %}
                                {% if club.is_closed %}
                                <p class="text-secondary">Набор закрыт</p>
                                {% else %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-light"><a
                                            href="/request/{{ club.title }}" class="nav-link">Записаться</a></button>
                                </div>
                                {% endif %}
                                {% endif %}
                                <small class="text-body-secondary">Преподаватель: {{ club.teacher_name }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</main>
<div id="map" style="width: 85%; height: 400px; margin: 0 auto"></div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=40d1649f-0493-4b70-98ba-98533de7710b"></script>
<script type="text/javascript">
        ymaps.load(function () {
            var myMap = new ymaps.Map('map', {
                center: [43.124893188, 131.904998779],
                zoom: 16.5
            });

            var myPlacemark = new ymaps.Placemark([43.124893188, 131.904998779], {
                balloonContent: '<strong>Владивостотский Государственный Университет</strong>'
            });

            myMap.geoObjects.add(myPlacemark);
        });



</script>
{% endblock %}
